<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casting Agency Dashborad</title>

    <!-- Link External Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav class="menu" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
          <a href="/" class="active">Home</a>
          <!-- <a href="/movies">Movies</a> -->
          <a href="javascript:void(0);" onclick="GetMovies();">Movies</a>
          <a href="actors">Actors</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
          <a href="{{ AUTH0_AUTHORIZE_URL }}">Login</a>
        </nav>
      </div>
      <div class="main">
        <p><strong>
          WE ARE A FULL-SERVICE CASTING AGENCY, SETTING THE INDUSTRY STANDARD FOR OVER 20 YEARS
        </strong></p>

        {% block content %}{% endblock %}

        <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="//cdn.auth0.com/samples/auth0_logo_final_blue_RGB.png" /></h1>

        <img class="avatar" src=""/>
        <h2>Welcome Aditi</h2>
        <pre></pre>
        <a class="btn btn-primary btn-lg btn-logout btn-block" href="/logout">Logout</a>
        </div>
      </div>
      <div class="footer box">
        <div class="ftName">
          Designed by Aditi Lamkhede
        </div>
        <div class="ftCopy">
          @Copyright 2020
        </div>
      </div>
    </div>
  </body>
</html>
