<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casting Agency</title>

    <!-- Link External Stylesheets -->
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <!-- <script type="text/javascript" src="/templates/js/main.js"></script> -->
    <script type="text/javascript">

      window.addEventListener('load', (event) => {
        console.log('page is fully loaded');
        getHeaders();
      });
      function getHeaders() {
        console.log(document.cookie);
        var formData = new FormData();
        var client = new XMLHttpRequest();
        client.open('GET', '/')
        // console.log(request.headers)
        // const header = {
        //   headers: new HttpHeaders()
        //     .set('Authorization',  `Bearer ${abcd}`)
        // };
        client.setRequestHeader('Authorization', document.cookie['jwt_token'])
        client.send(formData);
        // return header;
      }

    </script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav class="menu" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
          <a href="index.html" class="active">Home</a>
          <a href="movie.html">Movies</a>
          <a href="actor.html">Actors</a>
          <a href="#contact">Contact</a>
          <a href="#about">About</a>

        </nav>
      </div>
      <div class="main">
        <p><strong>
          WE ARE A FULL-SERVICE CASTING AGENCY, SETTING THE INDUSTRY STANDARD FOR OVER 20 YEARS
        </strong></p>
      </div>
      <div class="footer box">
        <div class="ftName">
          Designed by Aditi Lamkhede
        </div>
        <div class="ftCopy">
          @Copyright 2020
        </div>
      </div>
    </div>
  </body>
</html>
