<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Casting Agency Index</title>

    <!-- Link External Stylesheets -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <nav class="menu" id="myTopnav">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
          <a href="/" class="active">Home</a>
          <a id="navMovies" href="/movies">Movies</a>
          <!-- <li {% if request.endpoint == 'movies' %} class="active" {% endif %}><a id="navMovies" href="{{ url_for('get_movies') }}">Movies</a></li> -->
          <!-- <a href="javascript:void(0);" onclick="GetMovies();">Movies</a> -->
          <a href="actors">Actors</a>
          <!-- <li {% if request.endpoint == 'actors' %} class="active" {% endif %}><a href="{{ url_for('get_actors_all') }}">Actors</a></li> -->
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
          <a href="https://udacity-nd-capstone.auth0.com/authorize?audience=casting&response_type=token&client_id=9EalhHTVUmqwMnnF94DT00JuoIHkYtcx&redirect_uri=http://localhost:5000/callback">Login</a>
        </nav>
      </div>
      <div class="main">
        <p><strong>
          WE ARE A FULL-SERVICE CASTING AGENCY, SETTING THE INDUSTRY STANDARD FOR OVER 20 YEARS
        </strong></p>

        {% block content %}{% endblock %}
      </div>
      <div class="footer box">
        <div class="ftName">
          Designed by Aditi Lamkhede
        </div>
        <div class="ftCopy">
          @Copyright 2020
        </div>
      </div>
    </div>
  </body>
</html>
